body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    height: 100vh;
}

.div{
    width: max-content;
    border: 2px solid black;
    border-radius: 5px;
    padding: 12px 16px;
}
h1{
    margin: 0;
}
.list{
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(6, 1fr);
    width: max-content;
    margin-top: 8px;
    h1{
        padding: 0 12px;
        border-radius: 6px;
        border: 2px dotted black;
        cursor: pointer;
        transition: .15s ease-in-out;
    }
    h1:hover{
        background: hsla(0, 0%, 0%, 0.473);
    }   
}